<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HH parser</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="home.html">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="search.html">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <h1 class="text-white fs-3 fw-bolder">Head Hunter parser</h1>
                <p class="text-white-50 mb-0">Find your best job</p>
            </div>
        </header>
        <!-- Content section-->
         <h1 align="center">Форма для поиска</h1>
        <form align="center">
        <input type="text" value="" name="query" placeholder="строка поиска">
        <input type="submit" value="Искать вакансии">
        <br>
        <br>
        <select name="where">
            <option>Везде</option>
            <option>В названии компании</option>
            <option>В названии вакансии</option>
        </select>
        <p>

        </p>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Made by Uldinium</p></div>
        </footer>
        <!-- Bootstrap core JS-->

    </body>
</html>
